In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [16]:
liss = df['Area'].unique()

In [17]:
count = 0
for ls in liss:
    count+=1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [22]:
animal_fat = df.groupby('Y2015')

In [24]:
animal_fat.agg('mean', 'std')

,Area Code,Item Code,Element Code,Y2014,Y2016,Y2017,Y2018
Y2015,,,,,,,
-3161.0,202.0,2905.0,5072.0,439.0,-1499.0,2665.0,-296.0
-2152.0,202.0,2514.0,5072.0,626.0,-1324.0,2555.0,-597.0
-1284.0,276.0,2905.0,5072.0,4569.0,3266.0,-607.0,1898.0
-907.0,251.0,2905.0,5072.0,520.0,-506.0,532.0,-529.0
-887.0,276.0,2518.0,5072.0,3134.0,2432.0,-819.0,163.0
...,...,...,...,...,...,...,...
92443.0,59.0,2501.0,511.0,90425.0,94447.0,96443.0,98424.0
100835.0,238.0,2501.0,511.0,98094.0,103603.0,106400.0,109224.0
110798.0,159.0,2907.0,5301.0,108756.0,116483.0,112625.0,117038.0
111663.0,159.0,2907.0,5511.0,109593.0,119330.0,117702.0,118172.0
181137.0,159.0,2501.0,511.0,176405.0,185960.0,190873.0,195875.0

In [26]:
answer12 = df['Y2015'].mean()

In [29]:

print(round(answer12, 3))

135.236

In [30]:
answer12b = df['Y2015'].std()

In [31]:
round(answer12b, 3)

1603.404

In [37]:
answer13 = df['Y2016'].isnull().sum() * 100 / len(df)
round(answer13, 2)

2.52

In [39]:
df.

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [45]:
r = np.corrcoef(, )
r

array([[nan, nan],
       [nan,  1.]])

In [46]:
print(df['Y2018'].corr(df['Element Code']))

0.024278571953519554

In [47]:
print(df['Y2017'].corr(df['Element Code']))

0.024254007760045722

In [48]:
print(df['Y2015'].corr(df['Element Code']))

0.023889199301639925

In [49]:
print(df['Y2016'].corr(df['Element Code']))

0.023443997584961428

In [50]:
print(df['Y2014'].corr(df['Element Code']))

0.024456819495221795

In [51]:
import_quan = df.groupby('Element')

In [52]:
import_quan

In [53]:
import_quan.get_group('Import Quantity').sum()

Area Code                                                  688174
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                13795966
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             28834929
Element         Import QuantityImport QuantityImport QuantityI...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                   274144.48
Y2015                                                   267018.46
Y2016                                                   286582.78
Y2017                                                   294559.09
Y2018                                                   287997.09
dtype: object

In [54]:
import_quan.get_group('Production').sum()

Area Code                                                  526751
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                10450053
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             21388191
Element         ProductionProductionProductionProductionProduc...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                  1931287.75
Y2015                                                  1947019.39
Y2016                                                  1943537.15
Y2017                                                  2030056.89
Y2018                                                  2075072.89
dtype: object

In [70]:
import_quan1 = df.groupby(['Area','Element'])

In [72]:
# Answer 19 = 36238.29
import_quan1.get_group(('Algeria', 'Import Quantity')).sum()

Area Code                                                     448
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                  301030
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                               628432
Element         Import QuantityImport QuantityImport QuantityI...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                    34940.12
Y2015                                                    37841.91
Y2016                                                    36736.08
Y2017                                                    36059.29
Y2018                                                    36238.29
dtype: object

In [77]:
answer_18 = df.groupby(['Element','Y2018'], sort=False)

In [78]:
answer_18.agg('max')

,,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017
Element,Y2018,,,,,,,,,,
Total Population - Both sexes,42228.00,4,Algeria,2501,Population,511,1000 persons,38924.00,39728.00,40551.00,41389.00
Domestic supply quantity,0.00,276,Zimbabwe,2961,Yams,5301,1000 tonnes,147.00,47.00,29.00,17.00
Food supply (kcal/capita/day),3322.00,4,Algeria,2901,Grand Total,664,kcal/capita/day,3377.00,3379.00,3372.00,3341.00
Protein supply quantity (g/capita/day),91.83,4,Algeria,2901,Grand Total,674,g/capita/day,94.90,94.35,94.72,92.82
Fat supply quantity (g/capita/day),77.28,4,Algeria,2901,Grand Total,684,g/capita/day,80.06,79.36,77.40,80.19
...,...,...,...,...,...,...,...,...,...,...,...
Import Quantity,20.79,181,Zimbabwe,2763,Pelagic Fish,5611,1000 tonnes,22.57,26.35,24.54,20.79
Domestic supply quantity,19.41,181,Zimbabwe,2763,Pelagic Fish,5301,1000 tonnes,22.54,26.35,23.82,19.41
Food,18.76,181,Zimbabwe,2763,Pelagic Fish,5142,1000 tonnes,15.29,19.31,19.45,18.76
Domestic supply quantity,0.99,181,Zimbabwe,2764,"Marine Fish, Other",5301,1000 tonnes,0.54,0.48,0.60,0.99
Food,0.99,181,Zimbabwe,2764,"Marine Fish, Other",5142,1000 tonnes,0.54,0.48,0.60,0.99

In [79]:
# answer i also failed to get at the quiz
das = df.groupby('Item')

In [82]:
# the answer
das.get_group('Animal fats').agg('sum')

Area Code                                                   85279
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                 1882494
Item            Animal fatsAnimal fatsAnimal fatsAnimal fatsAn...
Element Code                                              2567303
Element         ProductionImport QuantityStock VariationExport...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                   209460.54
Y2015                                                   200675.72
Y2016                                                   183314.22
Y2017                                                   269617.53
Y2018                                                   269648.27
dtype: object